<div class="container-fluid ps-md-0">
  <div class="row g-0">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">Login TO Shoplink-PDA</h3>
              <!-- Sign In Form -->
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-floating mb-3">
                  <input type="text" [(ngModel)]="userid" class="form-control" id="floatingInput" placeholder="name@example.com" 
                  formControlName="userid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userid.errors }"  id="inputEmail4">
                  <div *ngIf="submitted && f.userid.errors" class="invalid-feedback">
                  <div *ngIf="f.userid.errors.required">User id is required</div>
                  <!-- <div *ngIf="f.email.errors.email">Email must be a valid email address</div> -->
                 </div>
                  <label for="floatingInput">User ID</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="password" [(ngModel)]="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password"[ngClass]="{ 'is-invalid': submitted && f.password.errors }" id="inputPassword4">
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                 </div>
                  <label for="floatingPassword">Password</label>
                </div>

                <div class="form-check mb-3">
                  <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                  <label class="form-check-label" for="rememberPasswordCheck">
                    Remember password
                  </label>
                </div>

                <div class="d-grid">
                  <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit">Sign in</button>
                  <!-- <div class="text-center">
                    <a class="small" href="#">Forgot password?</a>
                  </div> -->
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="4">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form cForm>
                <h4>Login To</h4>
                <img cCardImg="top" style="height: 5rem;" loading="lazy" src="./assets/img/brand/shoplink-pda.png" />&nbsp;
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input autoComplete="username" id="username" cFormControl placeholder="Username" />
                </c-input-group>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input
                    autoComplete="current-password"
                    cFormControl id="password"
                    placeholder="Password"
                    type="password"
                  />
                </c-input-group>
                <c-row>
                  <c-col xs="6">
                    <button cButton class="px-4" (click)="showToaster()" color="primary">
                      Login
                    </button>
                  </c-col> 
                </c-row>
              </form> 
            </c-card-body>
          </c-card> 
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div> -->
