<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong >All Machines (12)</strong>
        &nbsp;&nbsp;&nbsp;   
        <label style="color: #07d718; font-weight: 500;"> Total Available Machines - 8</label> &nbsp;&nbsp;&nbsp; 
        <label style="color: #D70707; font-weight: 500;"> Machine Under Breakdown at Plant - 4</label>
      </c-card-header>
      <c-card-body>
        <c-row>
          <c-col sm="4" xl="3">
            <c-card style="width: 16rem; border: 1px solid red;">
              <img cCardImg="top" style="height: 12rem;" loading="lazy" src="./assets/images/mc-1.jpeg" />
              <c-card-body style="border: 1px solid red;">
                <h5 cCardTitle>CNC-1</h5>
                <p cCardText>
                  Work Order :
                </p>
                <p cCardText>
                  Operation :
                </p> 
                <p cCardText>
                  <span>Cycle Time : 0:0:0</span>  
                </p> 
                <p cCardText> 
                  <span>Down Time : 02:22:10</span>
                </p> 
                <p cCardText>
                  <span>Operator :</span>
                </p> 
                <p>
                  <button style="height: 40px; font-size: medium;" cCol="4"
                    class="ms-auto badge-sm bg-info ng-star-inserted" routerLink="./">HMI</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                  <button style="height: 40px; font-size: medium;" cCol="4"
                    class="ms-auto badge-sm bg-info ng-star-inserted" routerLink="./">0:0:0</button>
                </p>
              </c-card-body>
            </c-card>
          </c-col> 
          <c-col sm="6" xl="3">
            <c-card style="width: 16rem; border: 1px solid red;">
              <img cCardImg="top" style="height: 12rem;" loading="lazy" src="./assets/images/mc-2.jpeg" />
              <c-card-body style="border: 1px solid red;">
                <h5 cCardTitle>CNC-2</h5>
                <p cCardText>
                  Work Order :
                </p>
                <p cCardText>
                  Operation :
                </p> 
                <p cCardText>
                  <span>Cycle Time : 0:0:0</span>  
                </p> 
                <p cCardText> 
                  <span>Down Time : 02:22:10</span>
                </p> 
                <p cCardText>
                  <span>Operator :</span>
                </p> 
                <p>
                  <button style="height: 40px; font-size: medium;" cCol="4"
                    class="ms-auto badge-sm bg-info ng-star-inserted" routerLink="./">HMI</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                  <button style="height: 40px; font-size: medium;" cCol="4"
                    class="ms-auto badge-sm bg-info ng-star-inserted" routerLink="./">0:0:0</button>
                </p>
              </c-card-body>
            </c-card>
          </c-col> 
          <c-col sm="6" xl="3">
            <c-card style="width: 16rem; border: 1px solid green;">
              <img cCardImg="top" style="height: 12rem;" loading="lazy" src="./assets/images/mc-3.jpeg" />
              <c-card-body style="border: 1px solid green;">
                <h5 cCardTitle>CNC-3</h5>
                <p cCardText>
                  Work Order :
                </p>
                <p cCardText>
                  Operation :
                </p> 
                <p cCardText>
                  <span>Cycle Time : 0:0:0</span>  
                </p> 
                <p cCardText> 
                  <span>Down Time : 02:22:10</span>
                </p> 
                <p cCardText>
                  <span>Operator :</span>
                </p> 
                <p>
                  <button style="height: 40px; font-size: medium;" cCol="4"
                    class="ms-auto badge-sm bg-info ng-star-inserted" routerLink="./">HMI</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                  <button style="height: 40px; font-size: medium;" cCol="4"
                    class="ms-auto badge-sm bg-info ng-star-inserted" routerLink="./">0:0:0</button>
                </p>
              </c-card-body>
            </c-card>
          </c-col> 
          <c-col sm="6" xl="3">
            <c-card style="width: 16rem; border: 1px solid green;">
              <img cCardImg="top" style="height: 12rem;" loading="lazy" src="./assets/images/mc-4.png" />
              <c-card-body style="border: 1px solid green;">
                <h5 cCardTitle>CNC-4</h5>
                <p cCardText>
                  Work Order :
                </p>
                <p cCardText>
                  Operation :
                </p> 
                <p cCardText>
                  <span>Cycle Time : 0:0:0</span>  
                </p> 
                <p cCardText> 
                  <span>Down Time : 02:22:10</span>
                </p> 
                <p cCardText>
                  <span>Operator :</span>
                </p> 
                <p>
                  <button style="height: 40px; font-size: medium;" cCol="4"
                    class="ms-auto badge-sm bg-info ng-star-inserted" routerLink="./">HMI</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                  <button style="height: 40px; font-size: medium;" cCol="4"
                    class="ms-auto badge-sm bg-info ng-star-inserted" routerLink="./">0:0:0</button>
                </p>
              </c-card-body>
            </c-card>
          </c-col> 
        </c-row> &nbsp;
      
        <c-row>
          <c-col sm="6" xl="3">
            <c-card style="width: 16rem; border: 1px solid red;">
              <img cCardImg="top" style="height: 12rem;" loading="lazy" src="./assets/images/mc-5.jpeg" />
              <c-card-body style="border: 1px solid red;">
                <h5 cCardTitle>CNC-5</h5>
                <p cCardText>
                  Work Order :
                </p>
                <p cCardText>
                  Operation :
                </p> 
                <p cCardText>
                  <span>Cycle Time : 0:0:0</span>  
                </p> 
                <p cCardText> 
                  <span>Down Time : 02:22:10</span>
                </p> 
                <p cCardText>
                  <span>Operator :</span>
                </p> 
                <p>
                  <button style="height: 40px; font-size: medium;" cCol="4"
                    class="ms-auto badge-sm bg-info ng-star-inserted" routerLink="./">HMI</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                  <button style="height: 40px; font-size: medium;" cCol="4"
                    class="ms-auto badge-sm bg-info ng-star-inserted" routerLink="./">0:0:0</button>
                </p>
              </c-card-body>
            </c-card>
          </c-col> 
          <c-col sm="6" xl="3">
            <c-card style="width: 16rem; border: 1px solid red;">
              <img cCardImg="top" style="height: 12rem;" loading="lazy" src="./assets/images/mc-6.jpeg" />
              <c-card-body style="border: 1px solid red;">
                <h5 cCardTitle>CNC-6</h5>
                <p cCardText>
                  Work Order :
                </p>
                <p cCardText>
                  Operation :
                </p> 
                <p cCardText>
                  <span>Cycle Time : 0:0:0</span>  
                </p> 
                <p cCardText> 
                  <span>Down Time : 02:22:10</span>
                </p> 
                <p cCardText>
                  <span>Operator :</span>
                </p> 
                <p>
                  <button style="height: 40px; font-size: medium;" cCol="4"
                    class="ms-auto badge-sm bg-info ng-star-inserted" routerLink="./">HMI</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                  <button style="height: 40px; font-size: medium;" cCol="4"
                    class="ms-auto badge-sm bg-info ng-star-inserted" routerLink="./">0:0:0</button>
                </p>
              </c-card-body>
            </c-card>
          </c-col> <c-col sm="6" xl="3">
            <c-card style="width: 16rem; border: 1px solid green;">
              <img cCardImg="top" style="height: 12rem;" loading="lazy" src="./assets/images/mc-7.jpeg" />
              <c-card-body style="border: 1px solid green;">
                <h5 cCardTitle>CNC-7</h5>
                <p cCardText>
                  Work Order :
                </p>
                <p cCardText>
                  Operation :
                </p> 
                <p cCardText>
                  <span>Cycle Time : 0:0:0</span>  
                </p> 
                <p cCardText> 
                  <span>Down Time : 02:22:10</span>
                </p> 
                <p cCardText>
                  <span>Operator :</span>
                </p> 
                <p>
                  <button style="height: 40px; font-size: medium;" cCol="4"
                    class="ms-auto badge-sm bg-info ng-star-inserted" routerLink="./">HMI</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                  <button style="height: 40px; font-size: medium;" cCol="4"
                    class="ms-auto badge-sm bg-info ng-star-inserted" routerLink="./">0:0:0</button>
                </p>
              </c-card-body>
            </c-card>
          </c-col> <c-col sm="6" xl="3">
            <c-card style="width: 16rem; border: 1px solid green;">
              <img cCardImg="top" style="height: 12rem;" loading="lazy" src="./assets/images/mc-8.jpeg" />
              <c-card-body style="border: 1px solid green;">
                <h5 cCardTitle>CNC-8</h5>
                <p cCardText>
                  Work Order :
                </p>
                <p cCardText>
                  Operation :
                </p> 
                <p cCardText>
                  <span>Cycle Time : 0:0:0</span>  
                </p> 
                <p cCardText> 
                  <span>Down Time : 02:22:10</span>
                </p> 
                <p cCardText>
                  <span>Operator :</span>
                </p> 
                <p>
                  <button style="height: 40px; font-size: medium;" cCol="4"
                    class="ms-auto badge-sm bg-info ng-star-inserted" routerLink="./">HMI</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                  <button style="height: 40px; font-size: medium;" cCol="4"
                    class="ms-auto badge-sm bg-info ng-star-inserted" routerLink="./">0:0:0</button>
                </p>
              </c-card-body>
            </c-card>
          </c-col> 
        </c-row>
<br>
        <c-row>
          <c-col sm="6" xl="3">
            <c-card style="width: 16rem; border: 1px solid green;">
              <img cCardImg="top" style="height: 12rem;" loading="lazy" src="./assets/images/mc-5.jpeg" />
              <c-card-body style="border: 1px solid green;">
                <h5 cCardTitle>CNC-5</h5>
                <p cCardText>
                  Work Order :
                </p>
                <p cCardText>
                  Operation :
                </p> 
                <p cCardText>
                  <span>Cycle Time : 0:0:0</span>  
                </p> 
                <p cCardText> 
                  <span>Down Time : 02:22:10</span>
                </p> 
                <p cCardText>
                  <span>Operator :</span>
                </p> 
                <p>
                  <button style="height: 40px; font-size: medium;" cCol="4"
                    class="ms-auto badge-sm bg-info ng-star-inserted" routerLink="./">HMI</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                  <button style="height: 40px; font-size: medium;" cCol="4"
                    class="ms-auto badge-sm bg-info ng-star-inserted" routerLink="./">0:0:0</button>
                </p>
              </c-card-body>
            </c-card>
          </c-col> 
          <c-col sm="6" xl="3">
            <c-card style="width: 16rem; border: 1px solid green;">
              <img cCardImg="top" style="height: 12rem;" loading="lazy" src="./assets/images/mc-6.jpeg" />
              <c-card-body style="border: 1px solid green;">
                <h5 cCardTitle>CNC-6</h5>
                <p cCardText>
                  Work Order :
                </p>
                <p cCardText>
                  Operation :
                </p> 
                <p cCardText>
                  <span>Cycle Time : 0:0:0</span>  
                </p> 
                <p cCardText> 
                  <span>Down Time : 02:22:10</span>
                </p> 
                <p cCardText>
                  <span>Operator :</span>
                </p> 
                <p>
                  <button style="height: 40px; font-size: medium;" cCol="4"
                    class="ms-auto badge-sm bg-info ng-star-inserted" routerLink="./">HMI</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                  <button style="height: 40px; font-size: medium;" cCol="4"
                    class="ms-auto badge-sm bg-info ng-star-inserted" routerLink="./">0:0:0</button>
                </p>
              </c-card-body>
            </c-card>
          </c-col> <c-col sm="6" xl="3">
            <c-card style="width: 16rem; border: 1px solid green;">
              <img cCardImg="top" style="height: 12rem;" loading="lazy" src="./assets/images/mc-7.jpeg" />
              <c-card-body style="border: 1px solid green;">
                <h5 cCardTitle>CNC-7</h5>
                <p cCardText>
                  Work Order :
                </p>
                <p cCardText>
                  Operation :
                </p> 
                <p cCardText>
                  <span>Cycle Time : 0:0:0</span>  
                </p> 
                <p cCardText> 
                  <span>Down Time : 02:22:10</span>
                </p> 
                <p cCardText>
                  <span>Operator :</span>
                </p> 
                <p>
                  <button style="height: 40px; font-size: medium;" cCol="4"
                    class="ms-auto badge-sm bg-info ng-star-inserted" routerLink="./">HMI</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                  <button style="height: 40px; font-size: medium;" cCol="4"
                    class="ms-auto badge-sm bg-info ng-star-inserted" routerLink="./">0:0:0</button>
                </p>
              </c-card-body>
            </c-card>
          </c-col> <c-col sm="6" xl="3">
            <c-card style="width: 16rem; border: 1px solid green;">
              <img cCardImg="top" style="height: 12rem;" loading="lazy" src="./assets/images/mc-8.jpeg" />
              <c-card-body style="border: 1px solid green;">
                <h5 cCardTitle>CNC-8</h5>
                <p cCardText>
                  Work Order :
                </p>
                <p cCardText>
                  Operation :
                </p> 
                <p cCardText>
                  <span>Cycle Time : 0:0:0</span>  
                </p> 
                <p cCardText> 
                  <span>Down Time : 02:22:10</span>
                </p> 
                <p cCardText>
                  <span>Operator :</span>
                </p> 
                <p>
                  <button style="height: 40px; font-size: medium;" cCol="4"
                    class="ms-auto badge-sm bg-info ng-star-inserted" routerLink="./">HMI</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                  <button style="height: 40px; font-size: medium;" cCol="4"
                    class="ms-auto badge-sm bg-info ng-star-inserted" routerLink="./">0:0:0</button>
                </p>
              </c-card-body>
            </c-card>
          </c-col> 
        </c-row>

      </c-card-body>
    </c-card>
  </c-col>
</c-row>
 