<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Machine 1-13</strong>
      </c-card-header>
      <c-card-body>
        <c-row>
          <c-col sm="6" xl="3">
            <c-card style="width: 16rem; border: 1px solid red;">
              <img cCardImg="top" style="height: 12rem;" loading="lazy" src="./assets/images/mc-1.jpeg" />
              <c-card-body style="border: 1px solid red;">
                <h5 cCardTitle>CNC-1</h5>
                <p cCardText>
                  Work Order :
                </p>
                <p cCardText>
                  Operation :
                </p> 
                <p cCardText>
                  <span>Cycle Time : 0:0:0</span>  
                </p> 
                <p cCardText> 
                  <span>Down Time : 02:22:10</span>
                </p> 
                <p cCardText>
                  <span>Operator :</span>
                </p> 
                <p>
                  <button style="height: 40px; font-size: medium;" cCol="4"
                    class="ms-auto badge-sm bg-info ng-star-inserted" routerLink="./">HMI</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                  <button style="height: 40px; font-size: medium;" cCol="4"
                    class="ms-auto badge-sm bg-info ng-star-inserted" routerLink="./">0:0:0</button>
                </p>
              </c-card-body>
            </c-card>
          </c-col> 
          <c-col sm="6" xl="3">
            <c-card style="width: 16rem; border: 1px solid red;">
              <img cCardImg="top" style="height: 12rem;" loading="lazy" src="./assets/images/mc-2.jpeg" />
              <c-card-body style="border: 1px solid red;">
                <h5 cCardTitle>CNC-2</h5>
                <p cCardText>
                  Work Order :
                </p>
                <p cCardText>
                  Operation :
                </p> 
                <p cCardText>
                  <span>Cycle Time : 0:0:0</span>  
                </p> 
                <p cCardText> 
                  <span>Down Time : 02:22:10</span>
                </p> 
                <p cCardText>
                  <span>Operator :</span>
                </p> 
                <p>
                  <button style="height: 40px; font-size: medium;" cCol="4"
                    class="ms-auto badge-sm bg-info ng-star-inserted" routerLink="./">HMI</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                  <button style="height: 40px; font-size: medium;" cCol="4"
                    class="ms-auto badge-sm bg-info ng-star-inserted" routerLink="./">0:0:0</button>
                </p>
              </c-card-body>
            </c-card>
          </c-col> <c-col sm="6" xl="3">
            <c-card style="width: 16rem; border: 1px solid green;">
              <img cCardImg="top" style="height: 12rem;" loading="lazy" src="./assets/images/mc-3.jpeg" />
              <c-card-body style="border: 1px solid green;">
                <h5 cCardTitle>CNC-3</h5>
                <p cCardText>
                  Work Order :
                </p>
                <p cCardText>
                  Operation :
                </p> 
                <p cCardText>
                  <span>Cycle Time : 0:0:0</span>  
                </p> 
                <p cCardText> 
                  <span>Down Time : 02:22:10</span>
                </p> 
                <p cCardText>
                  <span>Operator :</span>
                </p> 
                <p>
                  <button style="height: 40px; font-size: medium;" cCol="4"
                    class="ms-auto badge-sm bg-info ng-star-inserted" routerLink="./">HMI</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                  <button style="height: 40px; font-size: medium;" cCol="4"
                    class="ms-auto badge-sm bg-info ng-star-inserted" routerLink="./">0:0:0</button>
                </p>
              </c-card-body>
            </c-card>
          </c-col> <c-col sm="6" xl="3">
            <c-card style="width: 16rem; border: 1px solid green;">
              <img cCardImg="top" style="height: 12rem;" loading="lazy" src="./assets/images/mc-4.png" />
              <c-card-body style="border: 1px solid green;">
                <h5 cCardTitle>CNC-4</h5>
                <p cCardText>
                  Work Order :
                </p>
                <p cCardText>
                  Operation :
                </p> 
                <p cCardText>
                  <span>Cycle Time : 0:0:0</span>  
                </p> 
                <p cCardText> 
                  <span>Down Time : 02:22:10</span>
                </p> 
                <p cCardText>
                  <span>Operator :</span>
                </p> 
                <p>
                  <button style="height: 40px; font-size: medium;" cCol="4"
                    class="ms-auto badge-sm bg-info ng-star-inserted" routerLink="./">HMI</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                  <button style="height: 40px; font-size: medium;" cCol="4"
                    class="ms-auto badge-sm bg-info ng-star-inserted" routerLink="./">0:0:0</button>
                </p>
              </c-card-body>
            </c-card>
          </c-col> 
          <!-- <c-col sm="6" xl="3">
            <c-card style="width: 19rem;">
              <img cCardImg="top" loading="lazy" src="./assets/images/angular.jpg" />
              <c-card-body style="border: 4px solid green;">
                <h5 cCardTitle>CNC-2</h5>
                <p cCardText>
                  Work Order : &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; Operation :
                </p>
                <hr>
                <p cCardText>
                  <span style="font-size: smaller;">Cycle Time : 0:0:0</span>&nbsp; <span
                    style="font-size: smaller;">Down Time : 02:22:10</span>
                </p>
                <hr>
                <p cCardText>
                  <span style="font-size: smaller;">Operator :</span>
                </p>
                <hr>
                <p>
                  <button style="height: 40px; color: white;" cCol="4"
                    class="badge ms-auto badge-sm bg-primary ng-star-inserted" routerLink="./">HMI</button> &nbsp;
                  &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                  <button style="height: 40px; color: white;" cCol="4"
                    class="badge ms-auto badge-sm bg-primary ng-star-inserted" routerLink="./">0:0:0</button>
                </p>

              </c-card-body>
            </c-card>
          </c-col>
          <c-col sm="6" xl="3">
            <c-card style="width: 19rem;">
              <img cCardImg="top" loading="lazy" src="./assets/images/angular.jpg" />
              <c-card-body style="border: 4px solid red;">
                <h5 cCardTitle>CNC-3</h5>
                <p cCardText>
                  Work Order : &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; Operation :
                </p>
                <hr>
                <p cCardText>
                  <span style="font-size: smaller;">Cycle Time : 0:0:0</span>&nbsp; <span
                    style="font-size: smaller;">Down Time : 02:22:10</span>
                </p>
                <hr>
                <p cCardText>
                  <span style="font-size: smaller;">Operator :</span>
                </p>
                <hr>
                <p>
                  <button style="height: 40px; color: white;" cCol="4"
                    class="badge ms-auto badge-sm bg-primary ng-star-inserted" routerLink="./">HMI</button> &nbsp;
                  &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                  <button style="height: 40px; color: white;" cCol="4"
                    class="badge ms-auto badge-sm bg-primary ng-star-inserted" routerLink="./">0:0:0</button>
                </p>

              </c-card-body>
            </c-card>
          </c-col>
          <c-col sm="6" xl="3">
            <c-card style="width: 19rem; ">
              <img cCardImg="top" loading="lazy" src="./assets/images/angular.jpg" />
              <c-card-body style="border: 4px solid red;">
                <h5 cCardTitle>CNC-4</h5>
                <p cCardText>
                  Work Order : &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; Operation :
                </p>
                <hr>
                <p cCardText>
                  <span style="font-size: smaller;">Cycle Time : 0:0:0</span>&nbsp; <span
                    style="font-size: smaller;">Down Time : 02:22:10</span>
                </p>
                <hr>
                <p cCardText>
                  <span style="font-size: smaller;">Operator :</span>
                </p>
                <hr>
                <p>
                  <button style="height: 40px; color: white;" cCol="4"
                    class="badge ms-auto badge-sm bg-primary ng-star-inserted" routerLink="./">HMI</button> &nbsp;
                  &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                  <button style="height: 40px; color: white;" cCol="4"
                    class="badge ms-auto badge-sm bg-primary ng-star-inserted" routerLink="./">0:0:0</button>
                </p>

              </c-card-body>
            </c-card>
          </c-col> -->

        </c-row>
      
      </c-card-body>
    </c-card>
  </c-col>
</c-row>